<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Two button test</title>
</head>
<body>
    <form id="myform">
    <select id="dropdown">

        <option value="My nane is Sinchan Roy">Box 1</option>
        <option value="My name is Sohini Roy">Box 2</option>
                                                                                                                                                                       49,0-1        52%
    </select><br><br>
    <textarea rows="20" cols="50" id="textarea" name="textarea"></textarea><br><br>


    <button id='btn1' type="button" onclick="function1()">Turn Blue</button>
    <button id='btn2' type="button" onclick="function2()">Turn Red</button>

    </form>

</body>
<script>
 function function1()
 {
    document.body.style.backgroundColor = 'blue';
 }
 function function2()
 {
    document.body.style.backgroundColor = 'red';
 }
</script>
</html>
